/* Código de CSS */

body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 900px;
    height: auto;
    margin: 50px auto; 
    background-color: white;
    font-family: sans-serif;
}

header {
    height: 60px;
    width: auto;
    background-color: #B58A69;
    color: #BADA55;
    text-align: center;
    font-size: 24px;
}

header h1{
    font-family: GeoSansLight;
    letter-spacing: 0.8rem;
}

nav {
    font-size: 18px;
    color: #000;
    text-align: center;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #000;
}


.seccion {
    display: flex;
    background-color: #DEE5DE;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 1000px;
}

.imgPrincipal{
    width: 340px;
    height: 190px;
    padding-top: 10px;
    padding-left: 30px;
    margin: 10px;
}

.btnVerMas {
    background-color: #5E5E4A;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px 0px 20px 0px;
    border: none;
    cursor: pointer;
}

.seccionParrafo {
    font-size: 16px;
    max-width: 60%;
}

.seccionParrafo h2 {
    font-size: 25px;
    flex-wrap: wrap;
    text-align: left;
    color: #000;
    margin-left: 60px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 100;
    margin-top: 0px;
}

.seccionParrafo p {
    text-align: justify;
    background-color: #DEE5DE;
    padding: 20px;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: 600;
    margin-bottom: 30px;
}


aside {
    font-size: 40px;
    color: #000;
    background-color: #D7D7CB;
    text-align: center;
    padding: 20px;
}

aside img {
    width: 350px;
    height: 220px;
}



main {
    text-align: center;
    background-color: #D7D7CB;
}

main h2{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.imgFlores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imgFlores img {
    width: 200px; 
    height: 170px;
    margin: 10px;
}

footer {
    font-size: 14px;
    color: #E8E6E6;
    background-color: #5E5E4A;
    text-align: center;
    padding: 10px;
    height: auto;
}


nav a:hover, .btnVerMas:hover {
    color: red;
    text-decoration: underline;
}

@media (max-width: 650px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav li {
        display: block;
        margin: 10px 0;
    }
}


/* ESTILOS INDEX */

